<div class="panel panel-primary" id="add-comment">
    <div class="panel-heading">
        <input type="hidden" name="_id" value="{{ query.get('_id') }}"/>
        <h3 class="panel-title" id="panel-title">添加评论</h3>
    </div>
    <div class="panel-body media self-body-img">
        <div class="media-body">
            <form role="form" method="post" class="comment-form">
                <div class="box-body">
                    <input type="hidden" name="q" value="csrf_123ABCDF"/>
                    <input type="hidden" name="category" value="movie"/>
                    <input type="hidden" name="_id" value="{{ query.get('_id') }}"/>
                    <input type="hidden" name="title" value="{{ query.get('title') }}"/>
                    <input type="hidden" name="source" value="1"/>
                    <div class="form-group">
                        <label>昵称</label>
                        <input name="name" type="text" class="form-control" placeholder="输入昵称（以字母开头,字母、数字、下划线组合，长度为4-16位）" required>
                    </div>
                    <div class="form-group">
                        <label>邮箱地址</label>
                        <input name="email" type="email" class="form-control" placeholder="输入有效的邮箱地址" required>
                    </div>
                    <div class="form-group">
                        <label>验证码</label>
                        <img src="#" style="width: 120px; height: 50px;" id="captcha">
                        <input name="captcha" type="text" class="form-control" placeholder="请输入验证码（忽略英文大小）" required>
                    </div>
                    <div class="form-group">
                        <label>评论内容</label>
                        <textarea name="contain" class="form-control" id="contain" placeholder="输入评论内容（长度为140字以内、不支持html模式）" required></textarea>
                    </div>
                </div>
                <div class="box-footer">
                    <button type="button" class="btn btn-primary comment-add">提交评论</button>
                </div>
            </form>
        </div>
    </div>
</div>