
{% set rating = query.get('rating') %}
{% set aka = query.get('aka', []) %}
{% set countries = query.get('countries', []) %}
{% set category = query.get('category', []) %}
{% set directors = query.get('directors', []) %}
{% set casts = query.get('casts') %}
<div class="panel panel-primary">
    <div class="panel-heading">
        <input type="hidden" name="_id" value="{{ query.get('_id') }}"/>
        <input type="hidden" name="id" value="{{ query.get('id') }}"/>
        <h3 class="panel-title" id="panel-title">{{ query.get('title') }}</h3>
    </div>
    <div class="panel-body media self-body-img">
        <div class="media-left media-middle">
            <img class="media-object" src="{{ query.get('image').get('large') }}" alt="{{ query.get('title') }}">
        </div>
        <div class="media-body">
            <p>别名：{% for a in aka %}{{ a }} |{% end %}</p></p>
            <p>时间：{{ query.get('year') }}</p>
            <p>地区：{% for c in countries %}<a href="countries?countries={{ c }}">{{ c }}</a> {% end %}</p>
            <p>类目：{% for ca in category %}<a href="category?category={{ ca }}">{{ ca }}</a> {% end %}</p>
            <p>导演：{% for d in directors %}<a href="directors?directors={{ d }}">{{ d }}</a> {% end %}</p>
            <p>主演：{% for c in casts %}<a href="casts?casts={{ c }}">{{ c }}</a> {% end %} </p>
            <p class="media-heading">{{ query.get('summary') }}</p>
        </div>
    </div>
</div>