<div class="panel panel-primary">
    <div class="panel-heading">
        <input type="hidden" name="_id" value="{{ query.get('_id') }}"/>
        <h3 class="panel-title" id="panel-title">下载链接</h3>
    </div>
    <div class="panel-body media self-body-img">
        <div class="media-body">
            <div class="list-group">
                {% for d in down %}
                    {% set dl = d.get('link') %}
                    {% set sz = d.get('size') %}
                    {% for dk, dv in dl.iteritems() %}
                    <a href="{{ dv }}" target="_blank" class="list-group-item" title="点击下载">
                        <p>
                            <span class="label label-primary">{{ sz }}</span>
                            {% if dk == u"迅雷下载" %}
                                {% set cla = "info" %}
                            {% elif dk == u"磁力链接" %}
                                {% set cla = "warning" %}
                            {% else %}
                                {% set cla = "success" %}
                            {% end %}
                            <span class="label label-{{ cla }}">{{ dk }}</span>
                        </p>
                        <p>{{ dv }}</p>
                    </a>
                    {% end %}
                {% end %}
            </div>
        </div>
    </div>
</div>