<aside class="main-sidebar">
    <section class="sidebar">
        <ul class="sidebar-menu">
            <li class="header">导航</li>
            <li class="{% block active1 %}{% end %}">
                <a href="/movie/movie/index" target="_blank">
                    <i class="fa fa-dashboard"></i> <span>前台主页</span>
                </a>
            </li>
            <li class="treeview {% block active2 %}{% end %}{% block active3 %}{% end %}{% block active4 %}{% end %}">
                <a href="javascript:;">
                    <i class="fa fa-file-movie-o "></i> <span>电影</span>
                    <i class="fa fa-angle-left pull-right"></i>
                </a>
                <ul class="treeview-menu">
                    <li class="{% block active2 %}{% end %}"><a href="/main/re/list"><i class="fa fa-circle-o"></i>电影推荐</a></li>
                    <li class="{% block active3 %}{% end %}"><a href="/main/movie/list"><i class="fa fa-circle-o"></i>电影列表</a></li>
                    <li class="{% block active4 %}{% end %}"><a href="/main/movie/add"><i class="fa fa-circle-o"></i>电影添加</a></li>
                </ul>
            </li>
            <li class="treeview {% block active5 %}{% end %}{% block active6 %}{% end %}">
                <a href="javascript:;">
                    <i class="fa fa-comment-o "></i> <span>评论</span>
                    <i class="fa fa-angle-left pull-right"></i>
                </a>
                <ul class="treeview-menu">
                    <li class="{% block active5 %}{% end %}"><a href="/comment/comment/list?category=movie"><i class="fa fa-circle-o"></i>电影</a></li>
                    <li class="{% block active6 %}{% end %}"><a href="/comment/comment/list?category=blog"><i class="fa fa-circle-o"></i>博客</a></li>
                </ul>
            </li>
            <!--
            <li class="treeview">
                <a href="#">
                    <i class="fa fa-send-o"></i><span>邮件</span>
                    <i class="fa fa-angle-left pull-right"></i>
                </a>
                <ul class="treeview-menu">
                    <li><a href="javascript:;"><i class="fa fa-circle-o"></i>邮件列表</a></li>
                    <li><a href="javascript:;"><i class="fa fa-circle-o"></i>邮件发送</a></li>
                </ul>
            </li>
            -->
        </ul>
    </section>
</aside>