.self-paginfo {
    padding-top: 8px;
}
.self-pagination {
    float: right;
    margin: 0px;
}
.self-pagination ul.pagination {
    margin: 2px 0px;
    white-space: nowrap;
}
.table > tbody > tr > td {
    vertical-align: middle !important;
}
.table > tbody > tr > td > img {
    display:block;
    height:100px;
}
.index-font {
    background: rgba(0, 0, 0, 0.5) none repeat scroll !important;
    border-radius: 5px;
}
.index-font h3 {
    margin-top: 0px;
}
.index-font p {
    font-family: "宋体", Arial, sans-serif;
    padding: 0 10px;
    text-align: left;
    text-indent:2em;
}
/*
.bs-callout-danger {
    border-left-color: rgb(51,122,183) !important;
}
.bs-callout {
    padding: 20px;
    margin: 20px 0;
    border: 1px solid rgb(238,238,238);
    border-left-width: 5px;
    border-radius: 3px;
    display: block;
}*/
.self-body-img {
    padding-left:15px !important;
    padding-top:0px !important;
}
.self-body-img .media-middle {
    vertical-align:top !important;
}

.self-body-img img{
    height:300px;
}
p.media-heading {
    text-align: left;
    text-indent:2em;
}
.self-other-sidebar {
    padding-left:0px !important;
    margin-left:-15px;
    padding-right: 0px;
    margin-right: -15px;
}
.self-year a {
    margin-bottom:5px;
}
.list-group {
    margin-bottom: 0px !important;
}
.self-comment a {
    overflow-x: hidden;
    overflow-y: auto;
}

.toToptoFoot{
    position:fixed;
    width:50px;
    right:22.5px;
    bottom:101px;
}

.totop,.tofoot {
    width:50px;
    height:50px;
    right:22.5px;
    opacity:0.4;
    cursor:pointer;
    bottom:101px;
    float:left;
    margin-bottom:5px;
    display:block;
    background-color:rgb(60,141,188);
    color:#ffffff;
    font-size:18px;
    line-height:50px;
    padding-left:10px;
    border-radius: 3px;
}
.totop:hover,.tofoot:hover{
    opacity:1;
}