.self-paginfo {
    padding-top: 8px;
}
.self-pagination {
    float: right;
    margin: 0px;
}
.self-pagination ul.pagination {
    margin: 2px 0px;
    white-space: nowrap;
}
.table > tbody > tr > td {
    vertical-align: middle !important;
}
.table > tbody > tr > td > img {
    display:block;
    height:100px;
}
.index-font {
    background: rgba(0, 0, 0, 0.5) none repeat scroll !important;
    border-radius: 5px;
}
.index-font h3 {
    margin-top: 0px;
}
.index-font p {
    font-family: "宋体", Arial, sans-serif;
    padding: 0 10px;
    text-align: left;
    text-indent:2em;
}