<li><a href="/movie/movie/list">电影列表</a></li>

{% if source == 'category' %}
    {% set desc = "类目" %}
{% elif source == 'year' %}
    {% set desc = "上映时间" %}
{% elif source == "director" %}
    {% set desc = "导演" %}
{% elif source == "casts" %}
    {% set desc = "演员" %}
{% elif source == "countries" %}
    {% set desc = "地区" %}
{% elif source == "subject" %}
    {% set desc = "详情" %}
{% end %}
{% if source != "list" %}
<li>{{ desc }}: <a href="javascript:;">{{ value }}</a></li>
{% end %}
{% if r_q %}
<li>搜索：<a href="javascript:;">{{ r_q }}</a></li>
{% end %}