<nav class="navbar navbar-default navbar-fixed-top">
    <div class="container-fluid">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
                <span class="sr-only">DM电影</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" href="#">DMovie</a>
        </div>
        <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
            <ul class="nav navbar-nav">
                <li class="dropdown">
                    <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false">类目<span class="caret"></span></a>
                    <ul class="dropdown-menu" role="menu">
                        <li><a href="#">动作</a></li>
                        <li><a href="#">喜剧</a></li>
                        <li><a href="#">科幻</a></li>
                        <li class="divider"></li>
                        <li><a href="#">战争</a></li>
                        <li><a href="#">剧情</a></li>
                        <li><a href="#">爱情</a></li>
                        <li class="divider"></li>
                        <li><a href="#">查看更多</a></li>
                    </ul>
                </li>
                <li class="dropdown">
                    <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false">地区<span class="caret"></span></a>
                    <ul class="dropdown-menu" role="menu">
                        <li><a href="#">大陆</a></li>
                        <li><a href="#">美国</a></li>
                        <li><a href="#">香港</a></li>
                        <li><a href="#">台湾</a></li>
                        <li><a href="#">韩国</a></li>
                        <li><a href="#">日本</a></li>
                    </ul>
                </li>
                <li class="dropdown">
                    <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false">时间<span class="caret"></span></a>
                    <ul class="dropdown-menu" role="menu">
                        <li><a href="#">2015年</a></li>
                        <li><a href="#">2014年</a></li>
                        <li><a href="#">2013年</a></li>
                        <li><a href="#">2012年</a></li>
                        <li><a href="#">2011年</a></li>
                        <li class="divider"></li>
                        <li><a href="#">查看更多</a></li>
                    </ul>
                </li>
            </ul>
            <form class="navbar-form navbar-left" role="search">
                <div class="form-group">
                    <input type="text" class="form-control" placeholder="搜索电影">
                </div>
                <button type="submit" class="btn btn-default">搜索</button>
            </form>
            <ul class="nav navbar-nav navbar-right">
                <li class="dropdown">
                    <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false">账户<span class="caret"></span></a>
                    <ul class="dropdown-menu" role="menu">
                        <li><a href="#">注册</a></li>
                        <li><a href="#">登录</a></li>
                        <li class="divider"></li>
                        <li><a href="#">修改密码</a></li>
                    </ul>
                </li>
            </ul>
        </div>
    </div>
</nav>