<div class="col-md-12 self-click">
    <div class="panel panel-default">
        <div class="panel-heading">点击排行榜</div>
        <div class="panel-body">
            <div class="list-group">
                {% for r in res %}
                    <a href="/movie/movie/subject?id={{ r.get('_id') }}" target="_blank" class="list-group-item">
                            {{ r.get('title') }}
                        <span class="badge">{{ r.get('pv', 0) }}</span>
                    </a>
                {% end %}
            </div>
        </div>
    </div>
</div>