{% extends front_base.html %}
{% block title %}电影列表{% end block %}

{% block content %}
    {% set ans = pyobject.get('result') %}

    {% set source = ans.get('source') %}
    {% set value = ans.get(source) %}

    {% set r_q = ans.get('q', '') %}
    {% set query = ans.get('query') %}

    {% set page_num = ans.get('page_num', 1) %}
    {% set page_total = ans.get('page_total') %}
    {% set len = ans.get('len', 10) %}
    {% set total_num = ans.get('total_num') %}

    <div class="col-md-8">
        <div class="col-md-12">
            <ol class="breadcrumb">
                {% include front_base/breadcrumb.html %}
            </ol>
        </div>
        {% if r_q %}
        <div class="col-md-12">
            <div class="alert alert-danger alert-dismissable">
                <button type="button" class="close" data-dismiss="alert" aria-hidden="true">×</button>
                <h4><i class="icon fa fa-check"></i> 提示</h4>
                搜索是根据主演、导演、地区、类型 进行精确匹配；描述进行模糊匹配！
            </div>
        </div>
        {% end %}
        <div class="col-md-12">
            {% if not isinstance(query, list) %}
                暂无数据
            {% else %}
                {% set item = 1 %}
                {% for q in query %}
                    {% include front_base/body.html %}
                    {% set item += 1 %}
                {% end %}
            {% end %}
        </div>
    </div>

    <div class="col-md-4 self-other-sidebar">
        {% module Year() %}
        {% module Hot() %}
        {% module Comment() %}
    </div>


{% end %}

{% block page %}
    {% set url = '/movie/movie/%s?' %(source) %}
    {% if source != "list" %}
        {% if source == 'search' %}
            {% set source = 'q' %}
            {% set value = r_q %}
        {% end %}
        {% set url = url + "%s=%s" %(source, value) %}
    {% end %}
    {% set url = url + '&page_num=%s' %}

    {% include front_page.html %}
{% end %}