{% extends front_base.html %}
{% block title %}首页{% end block %}
{% block content-head %}{% end %}
{% block sidebar-bottom%}style="margin-bottom:0px;"{% end %}
{% block content %}
{% set query = pyobject.get('result').get('query', '') %}
{% if not isinstance(query, list) %}
    暂无数据
{% else %}
{% set lens = len(query) %}
<div id="carousel-example-generic" class="carousel slide" data-ride="carousel">
    <ol class="carousel-indicators">
        {% for i in range(0,lens) %}
            {% if i == 0 %}
                <li data-target="#carousel-example-generic" data-slide-to="0" class="active"></li>
            {% else %}
                <li data-target="#carousel-example-generic" data-slide-to="{{ i }}"></li>
            {% end %}
        {% end %}
    </ol>
    <div class="carousel-inner" role="listbox">
        {% set q_num = 0 %}
        {% for q in query %}
            {% if not q_num %}
                {% set act = 'active' %}
            {% else %}
                {% set act = '' %}
            {% end %}
            {% set q_num = q_num + 1 %}
            {% set image = q.get('img') %}
            {% set title = q.get('title') %}
            {% set summary = q.get('movie').get('summary') %}
            {% set id = q.get('_id') %}
            <div class="item {{ act }}">
                <img src="{{ image }}" title="点击查看" style="width: 100%;height: 600px;"/>
                <div class="carousel-caption index-font">
                    <h3>{{ title }}<small>  <a href="/movie/movie/subject?id={{ id }}">点击查看更多</a></small></h3>
                    <p>{{ summary }}</p>
                </div>
            </div>
        {% end %}
    </div>
    <a class="left carousel-control" href="#carousel-example-generic" role="button" data-slide="prev">
        <span class="fa fa-chevron-left glyphicon glyphicon-chevron-left" aria-hidden="true"></span>
        <span class="sr-only">上一篇</span>
    </a>
    <a class="right carousel-control" href="#carousel-example-generic" role="button" data-slide="next">
        <span class="fa fa-chevron-right glyphicon glyphicon-chevron-right" aria-hidden="true"></span>
        <span class="sr-only">下一篇</span>
    </a>
</div>
{% end %}
{% end %}
{% block top_foot %}{% end %}
{% block top_foot_js %}{% end %}