<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title>DMovie | 登录</title>
    <link href="/static/css/bootstrap.min.css" rel="stylesheet" type="text/css" />
    <link href="/static/css/font-awesome.min.css" rel="stylesheet" type="text/css" />
    <link href="/static/css/theme.min.css" rel="stylesheet" type="text/css" />
</head>
<body class="login-page">
<style type="text/css">
    .fa:before, .fa-user {
        display: block;
        line-height: 34px;
    }
</style>
<div class="login-box">
    <div class="login-logo">
        <a href="/user/user/login"><b>Dmovie </b>Admin</a>
    </div>
    <div class="login-box-body">
        <p class="login-box-msg">登录</p>
        <form>
            <div class="form-group has-feedback">
                <input type="hidden" name="q" value="dm"/>
                <input type="text" class="form-control" placeholder="用户名" name="username" id="name"/>
                <span class="form-control-feedback fa fa-user"></span>
            </div>
            <div class="form-group has-feedback">
                <input type="password" class="form-control" placeholder="密码" name="password" id="password"/>
                <span class="form-control-feedback fa fa-lock"></span>
            </div>
            <div class="row">
                <div class="col-xs-8">
                </div>
                <div class="col-xs-4">
                    <button type="button" class="btn btn-primary btn-block btn-flat login">登录</button>
                </div>
            </div>
        </form>
        <!--
        <a href="#">忘记密码</a><br>
        <a href="register.html" class="text-center">注册</a>
        -->
    </div>
</div>

<script src="/static/js/jquery-1.9.1.js"></script>
<script src="/static/js/bootstrap.min.js" type="text/javascript"></script>
<script>
    $(function () {
        $(".login").click(function(){
            if(!$("#name").val()){
                $("#name").focus().selected();
                return false;
            }
            if(!$("#password").val()){
                $("#password").focus().selected();
                return false;
            }
            $.ajax({
                type:"post",
                url:"/user/user/deal_login",
                data:$("form").serialize(),
                dataType: "json" ,
                success: function(data){
                    console.log(data);
                    if(data["status"] == "success"){
                        window.location.href = "/main/movie/list";
                    }
                    else {
                        alert(data["query"]);
                    }
                },
                error:function(data, status, e){
                    alert(e);
                }
            });
            return false;
        });

    });
</script>
</body>
</html>