{% extends 'base.html' %}
{% block active3 %}active{% end %}
{% block title %}电影列表{% end block %}
{% block content-head %}电影列表{% end block %}
{% block content %}
{% set ans = pyobject.get('result') %}
{% set query = ans.get('query') %}
{% set q = ans.get('q', '') %}
{% set r_category = ans.get('category', '') %}
{% set r_director = ans.get('directors', '') %}
{% set cast = ans.get('casts', '') %}
{% set url = '/movie/movie/list?' %}
<div class="row">
    <div class="col-md-12">
        <div class="box box-primary">
            <div class="box-header">
                <h3 class="box-title">电影列表{% if q %}-搜索-{{ q }}{% end %}</h3>
            </div>
            <div class="box-body">
                <div class="row" style="margin-bottom: 10px">
                    <div class="col-xs-6">
                        <button class="btn btn-default btn-sm checkbox-toggle" title="全选/全不选"><i class="fa fa-square-o"></i></button>
                        <div class="btn-group">
                            <button class="btn btn-default btn-sm iremove" title="下线"><i class="fa fa-remove"></i></button>
                            <button class="btn btn-default btn-sm inormal" title="上线"><i class="fa fa-bars"></i></button>
                        </div>
                    </div>
                    <form class="col-xs-3" style="float: right" role="search" method="post" action="/movie/movie/list">
                        <div class="has-feedback">
                            <input type="text" class="form-control input-sm" name="Q" placeholder="查找电影"/>
                            <input type="hidden" name="csrf_code" value="1234"/>
                            <span class="fa fa-search form-control-feedback"></span>
                        </div>
                    </form>
                </div>
                <table class="table table-hover removie-table">
                    <thead>
                    {% include movie/head.html %}
                    </thead>
                    <tbody>
                    {% if type(query) == list %}
                    {% for qe in query %}
                        {% include movie/body.html %}
                    {% end %}
                    {% end %}
                    </tbody>
                </table>
                {% set url = '/movie/movie/list?' %}
                {% if r_director %}
                    {% set url = url + 'directors=%s' %(r_director) %}
                {% end %}
                {% if cast %}
                    {% set url = url + '&casts=%s' %(cast) %}
                {% end %}
                {% if r_category %}
                    {% set url = url + '&category=%s' %(r_category) %}
                {% end %}
                {% if q %}
                {% set url = url + '&q=%s' %(q) %}
                {% end %}
                {% set url = url + "&page_num=%s" %}
                {% include page.html %}
            </div>
        </div>
    </div>
</div>
{% include movie/add.html %}
{% end %}

{% block js %}
<script>
    $(function () {
        $(".inormal").click(function(){
            var ids = icheck_function($(".removie-table"));
            var status = 1;
            ajax_status(ids, status);
        });
        $(".iremove").click(function(){
            var ids = icheck_function($(".removie-table"));
            var status = 2;
            ajax_status(ids, status);
        });

        function ajax_status(ids, status){
            $.ajax({
                url:"/movie/movie/re_update_status",
                data:{"ids":JSON.stringify(ids), "status":status},
                dataType: "json" ,
                success: function(data){
                    console.log(data);
                    if(data["status"] == "success"){
                        window.location.href="/movie/movie/list";
                    }
                    else
                        alert(data["query"]);
                },
                error:function(data, status, e){
                    alert(e);
                }
            });
            return false;
        }

        $("tr[data-target='#movie-add']").click(function(){
            var title = $(this).find("input[name='title']").val();
            var _id = $(this).find("input[name='_id']").val();
            $("#movie-add").find("input[name='title']").val(title);
            $("#movie-add").find("input[name='_id']").val(_id);
        });

        $(".img-load").click(function(){
            debugger;
            if($("#image").val().length <= 0){
                alert("请添加需要上传的图片");
                return false;
            }
            $.ajaxFileUpload({
                url:"/image/image/file",
                fileElementId:"image",
                dataType: "json",
                success:function(data, status){
                    debugger;
                    alert(data["url"]);
                    console.log("33333"+data["url"]);
                    if(status == "success"){

                        console.log("11111"+data);
                    }
                    else
                        console.log("2222"+data);
                        //console.log(data);
                },
                error:function(data, status, e){
                    alert(e);
                }
            });
            return false;
        })
    });

</script>
{% end %}